@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    margin: 0px 70px;
    box-sizing: border-box;
}

@media screen and (max-width:800px) {
    body {
        margin: 0px 20px;
    }
}

header {
    font-family: 'Inconsolata';
    padding-top: 20px;
}

main {
    display: flex;
    width: 100%;
}

@media screen and (max-width:800px) {
    main {
        flex-direction: column;
    }
}

.img-container {
    flex-basis: 50%;
    text-align: center;
}

img {
    width: 80%;
}

section {
    flex-basis: 50%;
    font-family: 'Space Mono';
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-size: 44px;
    margin: 0 140px 0 40px;
}


p {
    font-size: 24px;
    color: #4f4f4f;
    margin: 0 180px 0 40px;
}

button {
    background-color: #333333;
    color: white;
    border: 0;
    padding: 22px 40px;
    font-family: 'Space Mono';
    font-size: 14px;
    text-transform: uppercase;
    width: 220px;
    margin-left: 40px;
}


@media screen and (max-width: 800px) {
    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        line-height: 1.3;
    }

    h1, p, button {
        margin: 20px 0;
    }
}


footer, footer > a {
    color: #BDBDBD;
}

footer {
    font-size: 10px;
    padding-bottom: 10px;
    text-align: center;
}