@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');
html {
    font-size: 62.5%;
}
body {
    background-color: #FAFAFA;
}

.primary-font {
    font-family: 'PT Serif';
}

.secondary-font {
    font-family: 'Poppins';
}

.uppercase {
    text-transform: uppercase;
}

/*HEADER*/

header {
    margin-top: 7rem;
}

h1 {
    font-weight: 700;
    font-size: 3.6rem;
}

h4 {
    font-size: 1.8rem;
    margin: 3rem 0 1.4rem 0;
}

.sub-heading {
    font-size: 1.4rem;
    margin-right: 5rem;
}

/*MAIN*/

main {
    display: grid;
    grid-template-columns: repeat(2, 17rem);
}

.card {
    background-color: #f5f5dc;
    position: relative;
    width: 16rem;
    height: 30rem;
    margin: 1.2rem;
}

img {
    width: 85%;
}

.card:nth-child(2n) {
    padding-top: 6rem;
    height: 24rem;
}

span {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: -8rem;
    transform-origin: 0 0;
    transform: rotate(90deg);
}

.card:nth-child(2n) > span {
    top: 6rem;
    right: -6.5rem;
}

h6 {
    font-size: 1.4rem;
    margin: 1rem 0;
}