@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&family=Montserrat:wght@500;700&display=swap');
html {
    font-size: 62.5%;
}
body {
    background-color: #FAFAFA;
    max-width: 90rem;
    margin: auto;
}

@media screen and (max-width: 1080px) {
    body {
        max-width: 60rem;
    }
}

@media screen and (max-width: 600px) {
    body {
        max-width: 38rem;
    }
}

/*HEADER*/

.primary-font {
    font-family: 'PT Serif';
}

.secondary-font {
    font-family: 'Poppins';
}

.uppercase {
    text-transform: uppercase;
}

header {
    margin-top: 7rem;
}

@media screen and (min-width: 1080px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10rem;
        margin-bottom: 10rem;
    }
}

h1 {
    font-weight: 700;
    font-size: 3.6rem;
}

h4 {
    font-size: 1.8rem;
    margin: 3rem 0 1.4rem 0;
}

.sub-heading {
    font-size: 1.4rem;
    margin-right: 5rem;
}

@media screen and (min-width: 1080px) {
    .sub-heading {
        font-size: 1.8rem;
        margin-right: 0;
    }
}

/*MAIN*/

main {
    display: grid;
    grid-template-columns: repeat(2, 17rem);
    gap: 1.2rem;
    margin: 1.2rem;
}

@media screen and (max-width: 374px) {
    main {
        grid-template-columns: 17rem;
    }
}

@media screen and (min-width: 601px) {
    main {
        grid-template-columns: repeat(3, 17rem);
    }
}

@media screen and (min-width: 1080px) {
    main {
        grid-template-columns: repeat(3, 29rem);
        gap: 3.4rem;
    }
}

.card {
    position: relative;
    width: 16rem;
    height: 30rem;
}

img {
    width: 85%;
}

span {
    font-size: 1rem;
    position: absolute;
    top: 0;
    left: 15.5rem;
    right: -18rem;
    transform-origin: 0 0;
    transform: rotate(90deg);
}

@media screen and (min-width: 375px) and (max-width: 600px) {   
    .card:nth-child(2n) {
        padding-top: 6rem;
        height: 24rem;
    }
    
    .card:nth-child(2n) > span {
        top: 6rem;
    }
}

@media screen and (min-width: 601px) {
    .card:nth-child(3n-1) {
        padding-top: 6rem;
        height: 24rem;
    }

    .card:nth-child(3n-1) > span {
        top: 6rem;
    }
}

@media screen and (min-width: 1080px) {
    .card {
        width: 29rem;
        height: 45rem;
    }
    
    span {
        font-size: 1.2rem;
        left: 27rem;
    }

    .card:nth-child(3n-1) {
        padding-top: 9rem;
        height: 40rem;
    }

    .card:nth-child(3n-1) > span {
        top: 9rem;
    }
}

h6 {
    font-size: 1.4rem;
    margin: 1rem 0;
}

@media screen and (min-width: 1080px) {
    h6 {
        font-size: 1.8rem;
    }
}

footer, footer > a {
    color: #BDBDBD;
}

footer {
    margin: 10rem 0 1.5rem 0;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    padding-bottom: 1rem;
    text-align: center;
}