html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Heebo', sans-serif;
    font-size: 2.4rem;
    padding: 2rem;
}

nav {
    position: relative;
}

.hamburger {
    width: 1.8rem;
    padding: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .hamburger {
        display: none;
    }
}

.bar {
    background-color: black;
    height: .3rem;
    border-radius: 1rem;
    transition: all 0.3s;
}

.upper-bar-rotated {
    rotate: 45deg;
    translate: 0 6px;
}

.middle-bar {
    margin: .3rem 0;
    transition: visibility 0s;
}

.middle-bar-hidden {
    visibility: hidden;
}

.lower-bar-rotated {
    rotate: -45deg;
    translate: 0 -6px;
}

.menu {
    position: absolute;
    right: 0;
    width: max-content;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 800px) {
    .menu {
        padding: 2rem;
        position: static;
        display: flex;
    }
}

.list-item {
    height: 0;
    font-size: 2.4rem;
    transform: scaleY(0);
    padding: 1rem;
}

.list-item-transition {    
    transition: height 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.list-item-expanded {
    background-color: rgb(255, 255, 255);
    height: 2.4rem;
    transform: scaleY(1);
}

@media screen and (min-width: 800px) {
    .list-item {
    height: 2.4rem;
        transform: scaleY(1);
        margin: 0 1.4rem;
    }
}



  /* FOOTER */
  footer,
  footer > a {
    color: #bdbdbd;
  }
  
  footer {
    margin: 13rem 0 1.5rem 0;
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 1rem;
    text-align: center;
  }