:root {
    --black: hsla(248, 35%, 8%, 1);
    --grey4f4f4f: hsl(0, 0%, 31%);
    --grey828282: hsl(0, 0%, 51%);
    --greybdbdbd: hsl(0, 0%, 74%);
    --greye0e0e0: hsl(0, 0%, 88%);
    --greyf2f2f2: hsl(0, 0%, 95%);
    --blue: hsla(202, 71%, 52%, 1);
    --green: hsla(145, 63%, 42%, 1);
    --red: hsla(0, 79%, 63%, 1);

}

.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    margin-bottom: 1rem;
  }

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    margin: 0;
}

.wide-screen-wrapper {
    margin: 0 1rem;
}


@media screen and (min-width: 800px) {
    .wide-screen-wrapper {
        margin: 0 clamp(4rem, 19vw, 10rem);
    }
}

header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Heebo', sans-serif;
    font-size: 2.4rem;
    padding: 1rem;
    margin-bottom: 7vw;
}

@media screen and (max-width: 800px) {
    .title {
        padding: 0.5rem 1rem;
    }
}

/* MENU */

nav {
    position: relative;
}

.hamburger {
    width: 1.8rem;
    padding: 1rem;
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    .hamburger {
        display: none;
    }
}

.bar {
    background-color: black;
    height: .3rem;
    border-radius: 1rem;
    transition: all 0.3s;
}

.upper-bar-rotated {
    rotate: 45deg;
    translate: 0 6px;
}

.middle-bar {
    margin: .3rem 0;
    transition: visibility 0s;
}

.middle-bar-hidden {
    visibility: hidden;
}

.lower-bar-rotated {
    rotate: -45deg;
    translate: 0 -6px;
}

.menu {
    position: absolute;
    right: 0;
    width: max-content;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 800px) {
    .menu {
        padding: 2rem;
        position: static;
        display: flex;
    }
}

.list-item {
    height: 0;
    font-size: 2.4rem;
    transform: scaleY(0);
    cursor: pointer;
}

.list-item-transition {    
    transition: height 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.list-item-expanded {
    background-color: rgb(255, 255, 255);
    height: 4rem;
    padding-left: 1rem;
    transform: scaleY(1);
}

@media screen and (min-width: 800px) {
    .list-item {
        height: 3.4rem;
        transform: scaleY(1);
        margin: 0 1.4rem;
    }
}

/* MAIN */


@media screen and (min-width: 1000px) {
    .slogan {
        padding: 0 30vw 0 8rem;
    }
}

@media screen and (min-width: 800px) {    
    .slogan {
        padding-left: 8rem;
    }

    .narrow-container {
        padding-left:8rem;
        width: clamp(30rem, 45vw, 40rem);
    }
}

h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}

@media screen and (min-width: 800px) {
    h4 {
        font-size: 1.8rem;
    }
}

.blue-text {
    color: hsla(202, 71%, 52%, 1);
}

h2 {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
}

@media screen and (min-width: 800px) {
    h2 {
        font-size: 4.8rem;
    }
}

.hero-image{
    width: calc(100% - 2rem);
    margin: 1rem;
    border-radius: 1.5rem;
}

.small-p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grey828282);
}

/* contact-us*/

h6 {
    margin-bottom: 1rem;
    color: var(--grey828282);
    font-size: 1rem;
    font-weight: 500;
}

form > div {
    position: relative;
    border-radius: 1.2rem;
    background-color: var(--greyf2f2f2);
    padding: 1.2rem .5rem 1.2rem 2rem;
    padding-right: .5rem;
}

input {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.4rem;
}

input::placeholder {
    color: var(--greybdbdbd);
}

input:focus {
    outline: none;
}

input[type=text] {
    border: none;
    background-color: var(--greyf2f2f2);
}

input[type=submit] {
    position: absolute;
    top: 4px;
    right:4px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 1.2rem;
    padding: .9rem 2.1rem;
    cursor: pointer;
}

/* end of contact-us*/

/* activities */

.space{
    height: 12vw;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
}

@media screen and (min-width: 800px) {
    h3 {
        font-size: 3.6rem;
    }
}

h3.container {
    margin-bottom: 3rem;
}

@media screen and (min-width: 1000px) {    
   .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    padding: 6rem 3rem;
    margin: 0 1rem;
    border-radius: 3rem;
}

.card:hover {
    box-shadow: 2px 2px 2rem var(--greyf2f2f2);
}

.icon {
    padding: 1.4rem;
    border-radius: 2rem;
    color: white;
    font-size: 3.6rem;
}

.blue-icon {
    background-color: var(--blue);
}

.green-icon {
    background-color: var(--green);
}

.red-icon {
    background-color: var(--red);
}

h3.bold {
    font-weight: 700;
    font-size: 2.4rem;
}

.middle-p {
    font-size: 1.6rem;
    color: var(--grey4f4f4f);
}

button {
    margin-top: 1.4rem;
    color: var(--grey828282);
    background-color: var(--greye0e0e0);
    border: none;
    border-radius: 1.2rem;
    padding: .9rem 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}

.card:hover > button {
    background-color: var(--blue);
    color: white;
}

/* end of activities*/

/* past projects */

.portfolio {
    position: relative;
}

@media screen and (min-width: 800px) {   
    .projects {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }

    .offset {
        margin-top: 12rem;
    }
}


article > img {
    margin-top: 2rem;
    width: 100%;
    border-radius: 2.4rem;
}

.grey-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--grey828282);
    margin-top: 1.4rem;
}

@media screen and (min-width: 800px) {
    .green-subtitle {
        font-size: 1.4rem;
    }
}

h5 {
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

@media screen and (min-width: 800px) {
    h5 {
        font-size: 2.4rem;
    }
}

.read-more {
    cursor: pointer;
    color: var(--blue);
    font-weight: 500;
    font-size: 1.8rem;
    margin-left: 1rem;
}

@media screen and (min-width: 800px) {   
.read-more {
    position: absolute;
    right: 1rem;
    bottom: 5rem;
}
}

/* end of past projects */

/* the team */

.team {
    margin-top: 8rem;
}

@media screen and (min-width: 800px) {
.team {
    display: grid;
    grid-template-columns: 2fr 3fr;
}    
}

.team > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.red {
    color: var(--red);
    margin-bottom: 0;
}

.team > div > h3 {
    font-size: 3.6rem;
    font-weight: 500;
    margin: 0;
    line-height: 1.5;
}

.team > div > .middle-p {
    margin: 0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    margin-top: 5rem;
}

.gallery-left {
    display: flex;
    align-items: center;
}

.person {
    border-radius: 2rem;
}

.img3 {
    width: 100%;
}

.img1 {
    width: 70%;
    margin-bottom: 1.2vw;
}

.img2 {
    width: 85%;
}

/* end of the team */

/* the customer */

.testimonial {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 12rem auto;
    gap: 2rem;
}

.testimonial > img {
    width: 100%;
    border-radius: 1rem;
}

.grey-text {
    margin-top: 1rem;
    color: var(--grey828282);
}

@media screen and (min-width: 800px) {
    .customer > h3 {
        font-size: 2.4rem;
    }

    .customer.grey-text {
        font-size: 1.8rem;
    }
}


/* end of the customer */

  /* FOOTER */
footer {
    padding: 4rem;
    background-color: var(--black);
    color: white;
}

@media screen and (min-width:800px) {
    footer {
        padding: 4rem 0;
    }

    .footer-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer-menu{
    font-size: 1.8rem;
    font-weight: 400;
}

.footer-title {
    margin-top: 6.4rem;
    font-size: 3.6rem;
    font-weight: 800;
}

.social {
    margin-bottom: 6.4rem;
}
  
  .social > img {
    display: inline-block !important;
  }


  .copy {
    margin: 3rem 0 1.5rem 0;
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 1rem;
    text-align: center;
  }


  .copy,
  .copy > a {
    color: var(--greyf2f2f2);
  }
