html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Heebo', sans-serif;
    font-size: 2.4rem;
}

nav {
    position: relative;
}

.hamburger {
    width: 1.8rem;
    padding: 1rem;
}

@media screen and (min-width: 800px) {
    .hamburger {
        display: none;
    }
}

.bar {
    background-color: black;
    height: .3rem;
    border-radius: 1rem;
    transition: all 0.3s;
}

.upper-bar-rotated {
    rotate: 45deg;
    translate: 0 5px;
}

.middle-bar {
    margin: .25rem 0;
    transition: visibility 0s;
}

.middle-bar-hidden {
    visibility: hidden;
}

.lower-bar-rotated {
    rotate: -45deg;
    translate: 0 -5px;
}

.menu {
    position: absolute;
    right: 0;
    width: max-content;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: white;
    padding: 1rem;
}

.list-item {
    font-size: 2.4rem;
    height: 0;
    transform: scaleY(0);
    transition: height .3s ease-in-out, transform .3s ease-in-out;
    padding: 1rem;
}

.list-item-expanded {
    height: 2.4rem;
    transform: scaleY(1);
}


@media screen and (min-width: 800px) {
    .menu {
        position: static;
        display: flex;
    }

    .menu > li {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 800px) {

}


  /* FOOTER */
  footer,
  footer > a {
    color: #bdbdbd;
  }
  
  footer {
    margin: 13rem 0 1.5rem 0;
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: 400;
    padding-bottom: 1rem;
    text-align: center;
  }